@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url(../fonts/ptsans.woff2) format("woff2"), url(../fonts/ptsans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url(../fonts/ptsansbold.woff2) format("woff2"), url(../fonts/ptsansbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: 18px;
  margin-right: 18px;
}
@media (min-width: 768px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (min-width: 960px) {
  .container {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (min-width: 1200px) {
  .container {
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media (min-width: 1200px) {
  .desktop-view__label {
    display: none;
  }
}

.page-header {
  position: relative;
  height: 56px;
}

.logo-wrapper {
  z-index: 100;
  position: relative;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
}
.logo-link:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.logo-img {
  width: 102px;
  height: 84px;
}
@media (min-width: 1200px) {
  .logo-img {
    width: 187px;
    height: 97px;
  }
}

.main-nav {
  position: relative;
  background-color: #81b3d2;
  z-index: 1000;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: -webkit-clip-path 0.15s linear;
  transition: clip-path 0.15s linear;
  transition: clip-path 0.15s linear, -webkit-clip-path 0.15s linear;
}
@media (min-width: 768px) {
  .main-nav {
    z-index: 10;
    -webkit-clip-path: none;
            clip-path: none;
    background-color: transparent;
  }
}

.menu-open .main-nav {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: -webkit-clip-path 0.3s linear;
  transition: clip-path 0.3s linear;
  transition: clip-path 0.3s linear, -webkit-clip-path 0.3s linear;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    justify-content: space-around;
  }
}

.nav-item {
  min-height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .nav-item {
    width: 153px;
    border: none;
  }
  .nav-item:nth-child(2) {
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .nav-item {
    width: 239px;
    border: none;
  }
  .nav-item:nth-child(2) {
    margin-right: auto;
  }
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
  transition: color 0.3s ease;
}
.nav-link:hover {
  background-color: #669ec0;
  transition: background-color 0.3s ease;
}
.nav-link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  transition: color 0s ease;
}
@media (min-width: 768px) {
  .nav-link {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
  }
  .nav-link:hover {
    color: #81b3d2;
    background-color: transparent;
    transition: color 0.3s ease;
  }
  .nav-link:active {
    color: rgba(0, 0, 0, 0.3);
    transition: color 0s ease;
  }
  .nav-link--current {
    color: #766357;
  }
  .nav-link--current:hover {
    color: #766357;
  }
}

.nav-burger-wrapper {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 18px;
  width: 25px;
  height: 22px;
  z-index: 3000;
}
.nav-burger-wrapper:hover {
  box-shadow: 0 0 3px 0 #8d8989;
}
@media (min-width: 768px) {
  .nav-burger-wrapper {
    display: none;
  }
}

.nav-burger-line {
  display: block;
  width: 23px;
  height: 4px;
  position: absolute;
}
.nav-burger-line:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.nav-burger-line:active {
  opacity: 0.3;
}
.nav-burger-line:nth-child(1) {
  opacity: 1;
  transform: translateY(-1px);
  background-color: #81b3d2;
  transition: opacity 0.2s ease;
}
.nav-burger-line:nth-child(2) {
  top: 9px;
  transform: rotate(0);
  background-color: #81b3d2;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.nav-burger-line:nth-child(3) {
  top: 9px;
  transform: rotate(0);
  background-color: #81b3d2;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.nav-burger-line:nth-child(4) {
  opacity: 1;
  transform: translateY(20px);
  background-color: #81b3d2;
  transition: opacity 0.2s ease;
}

.menu-open .nav-burger-line:nth-child(1) {
  opacity: 0;
  transform: translateY(0);
  background-color: #81b3d2;
  transition: opacity 0.2s ease;
}
.menu-open .nav-burger-line:nth-child(2) {
  top: 9px;
  transform: rotate(45deg) scaleX(1.2);
  background-color: #ffffff;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.menu-open .nav-burger-line:nth-child(3) {
  top: 9px;
  transform: rotate(-45deg) scaleX(1.2);
  background-color: #ffffff;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.menu-open .nav-burger-line:nth-child(4) {
  opacity: 0;
  transform: translateY(18px);
  background-color: #81b3d2;
  transition: opacity 0.2s ease;
}

.main-banner-wrapper {
  min-height: 389px;
  background-color: rgb(161, 202, 249);
  color: black;
  background-image: url("/img/intro-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .main-banner-wrapper {
    min-height: 518px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-banner-wrapper {
    background-image: url("/img/intro-desktop@2x.jpg");
    background-size: cover;
  }
}

.main-banner__title {
  width: 282px;
  height: 214px;
}
@media (min-width: 768px) {
  .main-banner__title {
    width: 460px;
    height: 350px;
  }
}

.main-banner-decor {
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("/img/intro-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.feedback-form-page > .main-banner-wrapper {
  min-height: 158px;
  background-size: auto;
  background-position: -420px -290px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .feedback-form-page > .main-banner-wrapper {
    background-position: center center;
  }
}
@media (min-width: 768px) {
  .feedback-form-page > .main-banner-wrapper {
    min-height: 290px;
    background-position: -216px -226px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .feedback-form-page > .main-banner-wrapper {
    background-position: center center;
  }
}
@media (min-width: 960px) {
  .feedback-form-page > .main-banner-wrapper {
    min-height: 300px;
    background-position: bottom center;
  }
}
@media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
  .feedback-form-page > .main-banner-wrapper {
    background-position: center center;
  }
}

.feedback-banner__title {
  width: 229px;
  height: 39px;
}
@media (min-width: 768px) {
  .feedback-banner__title {
    width: 458px;
    height: auto;
    position: relative;
    top: -8px;
    right: -2px;
  }
}

.feedback-form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

.feedback-form__text {
  margin-top: 37px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .feedback-form__text {
    margin-top: 70px;
    margin-bottom: 79px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__text {
    margin-bottom: 57px;
    margin-top: 114px;
  }
}

.feedback-form__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .feedback-form__title {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.feedback-form__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.form-item {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 22px;
  border: none;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .form-item {
    border-top: none;
    padding-top: 0;
  }
}

.form-item__inner {
  width: 280px;
}

@media (min-width: 768px) {
  .form-item__introduce {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-bottom: 70px;
  }
  .form-item__introduce .form-item__title {
    text-align: left;
    margin-bottom: 54px;
    margin-left: 68px;
  }
  .form-item__introduce .form-item-inner {
    margin-left: 58px;
    margin-right: 58px;
  }
}
@media (min-width: 1200px) {
  .form-item__introduce {
    margin-right: 112px;
    margin-left: 80px;
  }
  .form-item__introduce .form-item__title {
    margin-left: 0;
  }
  .form-item__introduce .form-item-inner {
    margin-left: 0;
    margin-right: 0;
  }
}

.form-input--introduce {
  margin-left: 13px;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .form-item__contacts {
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-bottom: 36px;
    margin-left: 28px;
    margin-right: 28px;
  }
  .form-item__contacts .form-item-inner {
    position: relative;
  }
  .form-item__contacts .form-item-inner::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    top: -88px;
    left: 0;
    z-index: -1;
  }
  .form-item__contacts .form-item__title {
    min-width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: white;
    padding-left: 55px;
    padding-right: 55px;
  }
}
@media (min-width: 1200px) {
  .form-item__contacts {
    margin-left: 112px;
    margin-right: 112px;
    margin-bottom: 38px;
  }
  .form-item__contacts .form-item-inner {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .form-item__contacts .form-item-inner::before {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .form-item__contacts .form-item__title {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.form-item__impression {
  margin-bottom: -2px;
}
.form-item__impression .form-item__title {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form-item__impression {
    grid-row: 1/2;
    grid-column: 1/2;
    border-right: 1px solid #e5e5e5;
    margin-bottom: 38px;
  }
  .form-item__impression .form-item__title {
    text-align: left;
    margin-left: 60px;
    margin-bottom: 72px;
  }
  .form-item__impression .form-item-inner {
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .form-item__impression {
    margin-left: 90px;
    margin-bottom: 34px;
  }
  .form-item__impression .form-item-inner {
    margin-left: 26px;
  }
  .form-item__impression .form-item__title {
    margin-left: 102px;
  }
}

.form-item__attractions {
  padding-top: 14px;
  margin-bottom: -6px;
}
@media (min-width: 1200px) {
  .form-item__attractions {
    margin-left: 112px;
    margin-right: 112px;
  }
}
.form-item__attractions .form-item__title {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form-item__attractions .form-item__title {
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 58px;
    width: 300px;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .form-item__attractions .form-item__title {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 768px) {
  .form-item__attractions {
    grid-row: 3/4;
    grid-column: 1/-1;
    position: relative;
    margin-bottom: 29px;
  }
  .form-item__attractions::before {
    content: "";
    width: 84%;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    top: 40px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  .form-item__attractions .form-item-inner {
    position: relative;
    margin-left: 140px;
    margin-right: 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .form-item__attractions .form-item-inner {
    margin-left: 155px;
    row-gap: 8px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .form-item__attractions .form-item-inner {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .form-item__attractions::before {
    width: 100%;
  }
}

.form-item__describe {
  margin-bottom: 0;
}
.form-item__describe .form-item__title {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .form-item__describe .form-item__title {
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 55px;
    width: 300px;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .form-item__describe .form-item__title {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 768px) {
  .form-item__describe {
    grid-row: 4/5;
    grid-column: 1/-1;
    position: relative;
    margin-bottom: 7px;
  }
  .form-item__describe::before {
    content: "";
    width: 84%;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    top: 12px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  .form-item__describe .form-item-inner {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (min-width: 1200px) {
  .form-item__describe {
    margin-bottom: 6px;
    margin-left: 112px;
    margin-right: 112px;
  }
  .form-item__describe .form-item-inner {
    margin-left: 0;
    margin-right: 0;
  }
  .form-item__describe::before {
    width: 100%;
    top: 9px;
  }
}

.form-item__title {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .form-item__title {
    font-size: 21px;
  }
}

.form-item__contacts .form-item__title {
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .form-item__contacts .form-item__title {
    margin-bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .form-item__contacts .form-item__title {
    margin-bottom: 71px;
  }
}

.form-item__contacts .form-item__label:not(:last-child) {
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .form-item__contacts .form-item__label:not(:last-child) {
    margin-bottom: 19px;
  }
}
@media (min-width: 1200px) {
  .form-item__contacts .form-item__label:not(:last-child) {
    margin-bottom: 0;
  }
}

.form-item__contacts .form-item__label > p {
  align-self: flex-start;
  margin-left: 24px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .form-item__contacts .form-item__label > p {
    margin-bottom: 9px;
  }
}
@media (min-width: 1200px) {
  .form-item__contacts .form-item__label > p {
    margin-bottom: 0;
    margin-left: 0;
    align-self: center;
    margin-right: 16px;
  }
}

.form-item__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
.form-item__label:last-child {
  margin-bottom: 0;
}

.form-item__label p {
  margin: 0;
}

@media (min-width: 768px) {
  .form-item__introduce .form-item__label p {
    margin-right: 0;
  }
}

.form-item__contacts .form-item__label {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 14px;
}
.form-item__contacts .form-item__label:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .form-item__contacts .form-item__label {
    flex-direction: row;
  }
}

.form-input {
  box-sizing: border-box;
  height: 58px;
  width: 192px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
}
.form-input:hover {
  background-color: #e5e5e5;
}
.form-input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.form-input::-moz-placeholder {
  color: #000000;
}
.form-input::placeholder {
  color: #000000;
}

.form-input--contacts {
  margin: 0;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .form-input--contacts {
    padding-left: 22px;
  }
}
@media (min-width: 1200px) {
  .form-input--contacts {
    width: 315px;
    padding-right: 70px;
  }
}

.form-item__impression .form-item__label,
.form-item__attractions .form-item__label {
  padding-left: 80px;
  margin-bottom: 43px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 768px) {
  .form-item__impression .form-item__label {
    padding-left: 75px;
    margin-bottom: 52px;
  }
}

.form-item__attractions .form-item__label:not(:last-child) {
  margin-bottom: 55px;
}

@media (min-width: 768px) {
  .form-item__attractions .form-item__label:last-child {
    margin-bottom: 55px;
  }
}

.form-input--radio {
  display: none;
}

.custom-radio,
.custom-checkbox {
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  transition: background-color 0.3s ease;
}
.custom-radio:hover,
.custom-checkbox:hover {
  background-color: #e5e5e5;
}
.custom-radio:active,
.custom-checkbox:active {
  background-color: #d5d5d5;
}

.custom-radio {
  border-radius: 50%;
}

.custom-checkbox {
  border-radius: 8px;
}

.form-input--radio:checked ~ .custom-radio::before {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.form-input--radio:checked:active ~ .custom-radio::before {
  opacity: 0.3;
}

.form-input--checkbox {
  display: none;
}

.form-input--checkbox:checked ~ .custom-checkbox::before {
  content: url(/img/icons/icon-tick.svg);
  width: 23px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.form-input--checkbox:checked:active ~ .custom-checkbox::before {
  opacity: 0.3;
}

.form-item--textarea {
  box-sizing: border-box;
  padding: 13px 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  width: 100%;
  min-height: 160px;
  border: none;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
}
.form-item--textarea:hover {
  background-color: #e5e5e5;
}
.form-item--textarea:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.form-item--textarea::-moz-placeholder {
  color: #000000;
}
.form-item--textarea::placeholder {
  color: #000000;
}
@media (min-width: 768px) {
  .form-item--textarea {
    padding-top: 18px;
  }
}

.feedback-form__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .feedback-form__button-wrapper {
    justify-content: space-between;
    align-items: center;
    grid-column: 1/-1;
    grid-row: 5/6;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 44px;
    margin-bottom: 61px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__button-wrapper {
    margin-left: 112px;
    margin-right: 112px;
  }
}

.feedback-form__button {
  margin-top: 44px;
  margin-bottom: 36px;
  padding: 16px;
  width: 280px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  transition: background-color 0.3s ease;
}
.feedback-form__button:hover {
  background-color: #669ec0;
}
.feedback-form__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.feedback-form__button:disabled {
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .feedback-form__button {
    width: 324px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .feedback-form__button {
    width: 480px;
  }
}

.feedback-form__footnone {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  display: none;
}
@media (min-width: 768px) {
  .feedback-form__footnone {
    display: block;
  }
}

.catalog-form__text {
  margin-top: 31px;
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .catalog-form__text {
    margin-top: 63px;
    margin-bottom: 78px;
  }
}
@media (min-width: 960px) {
  .catalog-form__text {
    margin-top: 100px;
    margin-bottom: 110px;
  }
}
@media (min-width: 1200px) {
  .catalog-form__text {
    margin-bottom: 81px;
  }
}

.catalog-form__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog-form__title {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.catalog-form__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog-form__description {
    margin-left: 130px;
    margin-right: 130px;
  }
}
@media (min-width: 1200px) {
  .catalog-form__description {
    display: block;
    width: 446px;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantages-title-wrapper {
  min-width: 285px;
  text-align: center;
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .advantages-title-wrapper {
    min-width: 520px;
    margin-bottom: 57px;
  }
}
@media (min-width: 1200px) {
  .advantages-title-wrapper {
    margin-bottom: 41px;
  }
}

.advantages-title {
  margin: 0;
  padding: 28px 10px 29px 10px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #000000;
}
@media (min-width: 768px) {
  .advantages-title {
    font-size: 21px;
    padding: 39px 50px 30px 50px;
  }
}
@media (min-width: 1200px) {
  .advantages-title {
    padding-top: 55px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 619px;
  }
}

.advantages-description {
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #000000;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(256px, auto));
  }
}

.advantages-item {
  min-height: 191px;
  text-align: center;
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}
.advantages-item--first {
  position: relative;
  overflow-x: hidden;
}
.advantages-item:last-child {
  border-bottom: none;
}
.advantages-item:first-child::before {
  content: "";
  position: absolute;
  width: 767px;
  height: 37px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(/img/triangle-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages-item:first-child::before {
    display: none;
  }
}
.advantages-item--colored {
  background-color: #81b3d2;
  color: #ffffff;
  border-bottom: none;
}
.advantages-item--photo {
  height: 260px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: none;
}
@media (min-width: 768px) {
  .advantages-item--photo {
    height: 256px;
  }
}
@media (min-width: 768px) {
  .advantages-item {
    min-height: 256px;
    border: none;
  }
  .advantages-item--first {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .advantages-item--second {
    grid-row: 1/2;
    grid-column: 2/-1;
  }
  .advantages-item--third {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
  .advantages-item--fourth {
    grid-row: 3/4;
    grid-column: 3/-1;
  }
  .advantages-item--fifth {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .advantages-item--sixth {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .advantages-item--seventh {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .advantages-item--eighth {
    grid-row: 4/5;
    grid-column: 3/-1;
  }
}

.advantages-item--sixth.advantages-item,
.advantages-item--seventh.advantages-item,
.advantages-item--eighth.advantages-item {
  min-height: 167px;
}

.advantages-item--photo.first-photo {
  background-image: url("/img/photo-city-tablet.jpg");
  background-size: cover;
}

.advantages-item--photo.second-photo {
  background-image: url("/img/photo-bridge-tablet.jpg");
  background-size: cover;
}
@media (min-width: 768px) {
  .advantages-item--photo.second-photo {
    background-position: inherit;
  }
}

.advantages-item-inner {
  padding-top: 36px;
  padding-bottom: 37px;
}
@media (min-width: 768px) {
  .advantages-item-inner {
    padding-top: 43px;
    padding-bottom: 21px;
  }
}
@media (min-width: 1200px) {
  .advantages-item-inner {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 52px;
  }
}

.advantages-item--first > .advantages-item-inner {
  padding-top: 52px;
  padding-bottom: 37px;
}
@media (min-width: 768px) {
  .advantages-item--first > .advantages-item-inner {
    padding-top: 42px;
  }
}
@media (min-width: 1200px) {
  .advantages-item--first > .advantages-item-inner {
    padding-top: 49px;
  }
}

@media (min-width: 768px) {
  .advantages-item--fourth > .advantages-item-inner,
  .advantages-item--sixth > .advantages-item-inner,
  .advantages-item--seventh > .advantages-item-inner,
  .advantages-item--eighth > .advantages-item-inner {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .advantages-item--fourth > .advantages-item-inner,
  .advantages-item--sixth > .advantages-item-inner,
  .advantages-item--seventh > .advantages-item-inner,
  .advantages-item--eighth > .advantages-item-inner {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
  }
}

.advantages-item--sixth > .advantages-item-inner,
.advantages-item--seventh > .advantages-item-inner,
.advantages-item--eighth > .advantages-item-inner {
  padding-top: 25px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .advantages-item--sixth > .advantages-item-inner,
  .advantages-item--seventh > .advantages-item-inner,
  .advantages-item--eighth > .advantages-item-inner {
    padding-top: 42px;
  }
}

.advantages-item__title,
.achievement-list__item-title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantages-item__title,
  .achievement-list__item-title {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .advantages-item__title,
  .achievement-list__item-title {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantages-item__count,
.advantages-item__description,
.achievement-list__item-description {
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantages-item__count,
  .advantages-item__description,
  .achievement-list__item-description {
    margin-left: 0;
    margin-right: 0;
  }
}

.advantages-item__count {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .advantages-item__count {
    margin-bottom: 24px;
  }
}

.advantages-item.achievement-list {
  background-color: #ffffff;
}

.achievement-list-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 35px 18px;
}
@media (min-width: 768px) {
  .achievement-list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    margin-top: 57px;
    margin-bottom: 31px;
  }
}
@media (min-width: 1200px) {
  .achievement-list-wrapper {
    padding-bottom: 21px;
  }
}

.achievement-list__item {
  position: relative;
  text-align: left;
  padding-left: 51px;
  margin-bottom: 28px;
}
.achievement-list__item--first {
  padding-left: 51px;
  margin-bottom: 28px;
}
.achievement-list__item:last-child {
  margin: 0;
}
@media (min-width: 1200px) {
  .achievement-list__item:last-child {
    margin-left: 30px;
    margin-right: 34px;
  }
}
.achievement-list__item::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: -10px;
}
.achievement-list__item--house::before {
  background-image: url(/img/icons/icon-house.svg);
  background-size: 39px 37px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .achievement-list__item--house::before {
    background-size: 75px 72px;
  }
}
.achievement-list__item--gifts::before {
  background-image: url(/img/icons/icon-gift.svg);
  background-size: 32px 38px;
  background-repeat: no-repeat;
  left: 7px;
}
@media (min-width: 768px) {
  .achievement-list__item--gifts::before {
    background-size: 76px 68px;
  }
}
.achievement-list__item--food::before {
  background-image: url(/img/icons/icon-burger.svg);
  background-size: 40px 35px;
  background-repeat: no-repeat;
  left: 0;
  top: -8px;
}
@media (min-width: 768px) {
  .achievement-list__item--food::before {
    background-size: 64px 75px;
  }
}
@media (min-width: 768px) {
  .achievement-list__item {
    padding-left: 0;
    padding-top: 101px;
    text-align: center;
  }
  .achievement-list__item--house {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .achievement-list__item--gifts {
    grid-row: 1/2;
    grid-column: 3/-1;
  }
  .achievement-list__item--food {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .achievement-list__item::before {
    content: "";
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  .achievement-list__item {
    margin-left: 30px;
    margin-right: 34px;
  }
}

.achievement-list__item--house > .achievement-list__item-description,
.achievement-list__item--gifts > .achievement-list__item-description,
.achievement-list__item--food > .achievement-list__item-description {
  margin-left: 0;
}
@media (min-width: 768px) {
  .achievement-list__item--house > .achievement-list__item-description,
  .achievement-list__item--gifts > .achievement-list__item-description,
  .achievement-list__item--food > .achievement-list__item-description {
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (min-width: 1200px) {
  .achievement-list__item--house > .achievement-list__item-description,
  .achievement-list__item--gifts > .achievement-list__item-description,
  .achievement-list__item--food > .achievement-list__item-description {
    width: 274px;
    margin-left: auto;
    margin-right: auto;
  }
}

.achievement-list__item-title {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .achievement-list__item-title {
    margin-bottom: 24px;
  }
}

.achievement-list__item-description {
  margin-right: 5px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog-list {
    margin-left: 60px;
    margin-right: 60px;
    display: grid;
    grid-template-columns: repeat(2, 324px);
    grid-template-rows: auto minmax(347px, auto) minmax(347px, auto);
    justify-items: center;
    justify-content: center;
    gap: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-list {
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto minmax(267px, auto);
  }
}

.catalog-item {
  padding-top: 22px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
}
.catalog-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .catalog-item {
    border: none;
    padding-top: 0;
  }
  .catalog-item:nth-child(2n+1):not(:first-child) > .catalog-item-inner > .catalog-item__content {
    background-color: #eaeaea;
  }
  .catalog-item:first-child {
    grid-row: 1/2;
    grid-column: 1/-1;
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .catalog-item {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .catalog-item:first-child {
    width: 1200px;
  }
  .catalog-item:nth-child(2n+1):not(:first-child) > .catalog-item-inner > .catalog-item__content {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 768px) {
  .catalog-item-inner {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-item-inner {
    position: relative;
  }
}

.catalog-item__img-wrapper {
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .catalog-item__img-wrapper {
    width: auto;
    height: 267px;
  }
  .catalog-item__img-wrapper--first {
    height: 400px;
  }
}

.catalog-item__img {
  height: 280px;
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .catalog-item__img {
    width: 324px;
    height: 267px;
  }
  .catalog-item__img--first {
    height: 400px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .catalog-item__img {
    width: 400px;
    height: 267px;
  }
  .catalog-item__img--first {
    height: 400px;
    width: 100%;
  }
}

.catalog-item__content {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog-item__content {
    background-color: #f2f2f2;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, minmax(40px, auto));
  }
}
@media (min-width: 1200px) {
  .catalog-item__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}

.content-title {
  margin: 0;
  margin-right: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .content-title {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: end;
  }
}
@media (min-width: 1200px) {
  .content-title {
    color: #ffffff;
  }
}

.content-author {
  margin: 0;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .content-author {
    margin: 0;
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
  }
}

.content-likes {
  font-weight: 700;
  position: relative;
}
@media (min-width: 768px) {
  .content-likes {
    grid-row: 1/3;
    grid-column: 2/3;
    justify-self: right;
    align-self: center;
  }
}

.content-likes__icon-like {
  margin-right: 10px;
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .content-likes__icon-like {
    fill: #ffffff;
    opacity: 1;
  }
}

.catalog-video-wrapper {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .catalog-video-wrapper {
    margin-top: 57px;
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (min-width: 1200px) {
  .catalog-video-wrapper {
    margin-top: 60px;
    margin-left: 199px;
    margin-right: 201px;
  }
}

.catalog-video__content {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 33px;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .catalog-video__content {
    width: 450px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 78px;
  }
}

.catalog-video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-video__title {
    margin: 0;
    font-size: 30px;
    line-height: 26px;
  }
}

.catalog-video__description {
  display: block;
  width: 270px;
  margin: 0;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-video__description {
    margin-top: 33px;
    width: 450px;
  }
}

.catalog__video {
  width: 100%;
}

.search-hotel {
  margin-top: 33px;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .search-hotel {
    margin-top: 57px;
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .search-hotel {
    margin-bottom: 66px;
  }
}

.search-hotel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .search-hotel-wrapper {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.search-hotel__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .search-hotel__title {
    font-size: 30px;
    margin-bottom: 34px;
    width: 500px;
  }
}

.search-hotel__description {
  margin: 0;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
@media (min-width: 768px) {
  .search-hotel__description {
    margin-bottom: 37px;
  }
}
@media (min-width: 1200px) {
  .search-hotel__description {
    margin-bottom: 42px;
  }
}

.search-hotel__button {
  text-align: center;
  font-family: inherit;
  width: 280px;
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.search-hotel__button:hover {
  background-color: #669ec0;
}
.search-hotel__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.search-hotel__button:disabled {
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .search-hotel__button {
    width: 458px;
  }
}

.map {
  width: 100%;
  height: 350px;
  background-image: url(/img/map-desktop.jpg);
  background-size: cover;
  background-position: center;
}

.footer-wrapper {
  margin-top: 40px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 27px;
    padding-right: 27px;
    margin-top: 36px;
  }
}
@media (min-width: 1200px) {
  .footer-wrapper {
    padding-left: 29px;
    padding-right: 29px;
  }
}

.footer-catalog-wrapper {
  margin-top: 138px;
}
@media (min-width: 768px) {
  .footer-catalog-wrapper {
    margin-top: 164px;
  }
}
@media (min-width: 1200px) {
  .footer-catalog-wrapper {
    margin-top: 115px;
  }
}

.footer-hashtag {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .footer-hashtag {
    margin: 0;
  }
}

.footer-hashtag__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.social-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
  display: flex;
  gap: 4px;
}
@media (min-width: 768px) {
  .social-items {
    margin: 0;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  transition: background-color 0.3s ease;
}
.social-link:hover {
  background-color: #669ec0;
  transition: background-color 0.3s ease;
}
.social-link:active {
  background-color: #5496bd;
  transition: background-color 0s ease;
}
.social-link:active > .social-link__img {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.copyright-text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .copyright-text {
    margin-right: 5px;
    margin-left: 8px;
  }
}

.footer-catalog-wrapper .copyright-text {
  margin-right: 5px;
}

@media (min-width: 1200px) {
  .footer-feedback-form-wrapper {
    margin-top: 41px;
    padding-left: 21px;
    padding-right: 21px;
  }
}

.copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.copyright-link__img {
  width: 34px;
  height: 34px;
}
.copyright-link__img:hover path {
  fill: #81b3d2;
  transition: fill 0.3s ease;
}
.copyright-link__img:active path {
  fill: rgba(0, 0, 0, 0.3);
  transition: fill 0s ease;
}

.copyright-link__img path {
  fill: #000000;
  transition: fill 0.3s ease;
}/*# sourceMappingURL=style.css.map */