.search-hotel {
  margin-top: 33px;
  margin-bottom: 49px;
  @media (min-width: $tablet-width) {
    margin-top: 57px;
    margin-bottom: 58px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.search-hotel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $tablet-width) {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.search-hotel__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  @media (min-width: $tablet-width) {
  font-size: 30px;
  margin-bottom: 34px;
  width: 500px;
  }
}

.search-hotel__description {
  margin: 0;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  } 
  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.search-hotel__button {
  text-align: center;
  font-family: inherit;
  width: 280px;
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #669ec0;
  }
  &:active {
    background-color: #5496bd;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
  &:disabled {
    background-color: #e5e5e5;
  }
  @media (min-width: $tablet-width) {
    width: 458px;
  }
}