
.advantages-title-wrapper {
  min-width: 285px;
  text-align: center;
  margin-bottom: 15px;
  @media (min-width: $tablet-width) {
    min-width: 520px;
  }
}

.advantages-title {
  margin: 0;
  padding: 30px 10px 25px 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #000000;
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantages-description {
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #000000;
}

.advantages-list {
  @include ul-reset;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(256px, auto));
  }
}

.advantages-item {
  min-height: 191px;
  text-align: center;
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
  &:first-child {
    position: relative;
    overflow-x: hidden;
  }
  &:last-child {
    border-bottom: none;
  }
  &:first-child::before {
    content: '';
    position: absolute;
    width: 767px;
    height: 37px;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(/img/triangle-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width :$tablet-width) {
      display: none;
    }
  }
  &--colored {
    background-color: #81b3d2;
    color: #ffffff;
    border-bottom: none;
  }
  &--photo {
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    min-height: 256px;
    border: none;
    &--first {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
    &--second {
      grid-row: 1 / 2;
      grid-column: 2 / -1;
    }
    &--third {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }
    &--fourth {
      grid-row: 3 / 4;
      grid-column: 3 / -1;
    }
    &--fifth {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
    }
    &--sixth {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
    }
    &--seventh {
      grid-row: 4 / 5;
      grid-column: 2 / 3;
    }
    &--eighth {
      grid-row: 4 / 5;
      grid-column: 3 / -1;
    }
  }
}

.advantages-item--photo.first-photo {
  background-image: url('/img/photo-city-tablet.jpg');
  background-size: cover;
}

.advantages-item--photo.second-photo {
  background-image: url('/img/photo-bridge-tablet.jpg');
}

.advantages-item-inner {
  padding-top: 40px;
  padding-bottom: 35px;
}

.advantages-item__title,
.achievement-list__item-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  @media (min-width :$tablet-width) {
    font-size: 21px;
  }
}

.advantages-item__count,
.advantages-item__description,
.achievement-list__item-description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages-item__count {
  margin-bottom: 20px;
}

.advantages-item.achievement-list {
  background-color: #ffffff;
}

.achievement-list-wrapper {
  @include ul-reset;
  margin: 35px 18px;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
  }
}

.achievement-list__item {
  position: relative;
  text-align: left;
  padding-left: 52px;
  margin-bottom: 25px;
  &::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: -7px;
  }
  &--house::before {
    background-image: url(/img/icons/icon-house.svg);
    background-size: 39px 37px;
    background-repeat: no-repeat;
    @media (min-width: $tablet-width) {
      background-size: 75px 72px;
    }
  }
  &--gifts::before {
    background-image: url(/img/icons/icon-gift.svg);
    background-size: 32px 38px;
    background-repeat: no-repeat;
      @media (min-width: $tablet-width) {
        background-size: 76px 68px;
      }
  }
  &--food::before {
    background-image: url(/img/icons/icon-burger.svg);
    background-size: 40px 35px;
    background-repeat: no-repeat;
    @media (min-width: $tablet-width) {
      background-size: 64px 75px;
    }
  }
    @media (min-width: $tablet-width) {
      padding-left: 0;
      padding-top: 101px;
      text-align: center;
      &--house {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
      &--gifts {
        grid-row: 1 / 2;
        grid-column: 3 / -1;
      }
      &--food {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
        &::before {
            content: '';
            width: 75px;
            height: 75px;
            position: absolute;
            left: 50%;
            top: -7px;
            transform: translateX(-50%);
          }
    }
}
